body {
  margin: 0;
  overflow: hidden;
  font-family: 'Istok Web'
}
.start-point {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
}
.tutorial-bg, .gameover-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(61, 61, 61, 0.95);
  box-shadow: 0 0 15px rgb(61, 61, 61 );
  position: fixed;
  z-index: 40;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100000;
}
.tutorial, .gameover {
  width: 50%;
  height: auto;
  background-color: rgba(21, 185, 208, 0.75);
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 2em;
  flex-direction: column;
  position: fixed;
  top: 2%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 200000;
}
.gameover-bg {
  display: none;
}
.tutorial button, .restart {
  width: 50%;
  height: 5em;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.tutorial span, .gameover span {
  font-size: 15px;
}
.score, .lives {
  font-size: 2em;
  width: 7em;
  height: auto;
  background-color: rgba(87, 196, 250, 0.42);
  z-index: 1000;
  color: white;
  padding: 1em;
  border-radius: 2%;
}

.score p, .lives p {
  text-shadow: 0 0 10px rgba(43, 43, 43, 0.90);
}
.lives {
  height: 1.5em;
}
.container {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.back-img {
  background: url('../images/space.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.random {
  width: auto;
  height: 100px;
  position: relative;
  background-image: url('../images/asteroid.png');
  background-size: cover;
  border-radius: 50%;
  padding: 2em;
}
.box {
  width: 100px;
  height: 100px;
  background-color: rgb(28, 28, 28);
  align-self: center;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 200;
  background: url('../images/spaceship.GIF');
  background-size: cover;
}
