body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(149, 149, 149);
  align-items: center;
  display: flex;
}
.box {
  width: 100px;
  height: 100px;
  background-color: rgb(28, 28, 28);
  position: relative;
}
